@model StudentData.Student

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Student", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FathersName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.FathersName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FathersName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MothersName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.MothersName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MothersName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateOfBirth, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.DateOfBirth, new { @type = "date", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GenderId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.GenderId, @ViewBag.Gender as SelectList, "Select gender", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GenderId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MobileNo, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MobileNo)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailID, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EmailID)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CountryId, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CountryId, ViewBag.Country as SelectList, "Select country--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CountryId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StateId, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.StateId, new SelectList(" "), "Select State--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StateId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DistrictId, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.DistrictId, new SelectList(" "), "Select district--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DistrictId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PoliceStationId, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.PoliceStationId, new SelectList(" "), "Select police station--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PoliceStationId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Address)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DepartmentId, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.DepartmentId, @ViewBag.Department as SelectList, "Select department--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DepartmentId)
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Select File : </label>
        <div class="col-md-10">
            @Html.TextBox("file", null, new { type = "file", @class = "form-control", placeholder = "Enter Address", accept = "image/x-png, image/gif, image/jpeg" })
            @Html.ValidationMessage("FileErrorMessage")
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*here fetch state for the selected country*@
    <script>
        $(document).ready(function () {
            $("#CountryId").change(function () {
                $.get("/Student/GetState", { countryId: $("#CountryId").val() }, function (data) {
                    $("#StateId").empty();
                    $.each(data, function (index, row) {
                        $("#StateId").append("<option value='" + row.Id + "'>" + row.StateName + "</option>");
                    });
                });
            });
        });

        //here fetch district for the selected state
        $(document).ready(function () {
            $("#StateId").change(function () {
                $.get("/Student/GetDistrict", { stateId: $("#StateId").val() }, function (data) {
                    $("#DistrictId").empty();
                    $.each(data, function (index, row) {
                        $("#DistrictId").append("<option value='" + row.Id + "'>" + row.DistrictName + "</option>");
                    });
                });
            });
        });

        //here fetch Police Station for the selected District
        $(document).ready(function () {
            $("#DistrictId").change(function () {
                $.get("/Student/GetPoliceStation", { districtId: $("#DistrictId").val() }, function (data) {
                    $("#PoliceStationId").empty();
                    $.each(data, function (index, row) {
                        $("#PoliceStationId").append("<option value='" + row.Id + "'>" + row.PoliceStName + "</option>");
                    });
                });
            });
        });
    </script>
}





