@model StudentData.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_StudentDetails</title>
</head>
<body>
    <div>
        <h4>Student</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FathersName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FathersName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MothersName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MothersName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MobileNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MobileNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmailID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmailID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ImagePath)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StudentRegNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StudentRegNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Country.CuntryName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Country.CuntryName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Department.DepartmentName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Department.DepartmentName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.District.DistrictName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.District.DistrictName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Gender.GenderName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Gender.GenderName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PoliceStation.PoliceStName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PoliceStation.PoliceStName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.State.StateName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.State.StateName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
